.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  background-color: var(--maincolor);
}

.logo img{
  width: auto;
  height: 5rem;
  object-fit: contain;
}

.main-menu ul{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  list-style: none;
  font-size: 1.1rem;
}

.menu-right ul{
  display: flex;
  gap: .5rem;
  list-style: none;
  font-size: 1.1rem;
}

.main-menu a, .menu-right a{
  color: white;
  text-decoration: none;
}

/* Telas Médias */
@media screen and (min-width: 480px) and (max-width: 768px){
    .main-menu ul {
      gap: 1rem;
      font-size: 0.9rem;
    }

    .menu-right ul{
      font-size: .9rem;
    }

  .logo img {
    height: 4rem;
  }
}

/* Telas Pequenas */
@media screen and (max-width: 480px) {
    .main-menu {
      display: none;
    }

    .logo img {
      height: 4rem;
    }
}