.banner{
  position: relative;
  min-height: 55vh;
  background-image: linear-gradient(
      rgba(0,0,0,.5),
      rgba(0,0,0,.5)),
    url(https://emanuelnutri.com/wp-content/uploads/2020/03/chas.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding-top: 5rem;
}

.banner-content{
  max-width: 800px;
}

.banner h1{
  font-size: 2.8rem;
  margin-bottom: 1.8rem;
  font-weight: 700;
}

.banner p{
  font-size: 1.2rem;
  margin-bottom: .8rem;
}

.banner button{
  background-color: var(--buttoncolor);
  color: white;
  font-size: 1rem;
  border: none;
  padding: .8rem 1.2rem;
  font-weight: 600;
  border-radius: .3rem;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: .5rem;
}

.banner button:hover{
  background-color: var(--buttoncolordark);
}

.division-line-home{
  border-top: 1px solid #e7e7e7;
  margin-top: 25px;
}

/* Responsividade ficou ok! */
