@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
  font-family: Roboto, sans-serif;
}

:root{
  --maincolor: #4AB0A4;
  --fontcolor: #444;
}

.product-session{
  margin-bottom: 1.2rem;
}

.session-title{
  width: 100vw;
  margin: 0;
  padding: .8rem 0;
  background-color: var(--maincolor);
  text-align: center;
  color: white;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.product-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  justify-items: center;
  margin-bottom: 1rem;
}

.product-card{
  background-color: #ffffff;
  border-radius: .8rem;
  box-shadow: 0 .2rem .6rem rgba(0, 0, 0, .1);
  padding: 1rem;
  max-width: 260px;
  position: relative;
}

.product-image{
  width: 100%;
  height: 185px;
  object-fit: cover;
  border-radius: .1rem;
  margin-bottom: .3rem;
}

.product-title{
  font-size: .9rem;
  font-weight: 500;
  color: var(--fontcolor);
  margin-bottom: .3rem;
}

.product-description{
  font-size: .75rem;
  color: var(--fontcolor);
}

.product-price{
  font-size: 1rem;
  font-weight: bold;
  color: var(--fontcolor);
  margin: .8rem 0;
}

.old-price{
  font-size: .8rem;
  color: #888;
  text-decoration: line-through;
  margin: .8rem 0;
}

.new-price{
    font-size: 1rem;
    font-weight: bold;
    color: var(--fontcolor);
    margin: .8rem 0;
}

.price-container{
  display: flex;
  align-items: baseline;
  gap: .8rem;
}

.product-button{
  background-color: var(--maincolor);
  color: white;
  border: none;
  padding: .6rem .6rem;
  border-radius: .3rem;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
}

.class-button{
  display: flex;
  justify-content: center;
}

.session-button{
  background-color: var(--maincolor);
  color: white;
  border: none;
  padding: .6rem .8rem;
  border-radius: .3rem;
  cursor: pointer;
  font-weight: 500;
}

.sale{
  background-color: #d32830;
  color: white;
  border-radius: .2rem;
  padding: .3rem .6rem;
  font-size: .9rem;
  font-weight: 500;
  position: absolute;
  top: 10px;
  right: 10px;
}