@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

:root{
  --maincolor: #45a59a;
  --maincolordark: #28756c;
  --buttoncolor: #1b6960;
  --buttoncolordark: #16574f;
  --fontcolor: #444;
  --fontcolorlight: #757575;
  --lightgray: #eeeeee;
  --mediumgray: #ccc;
}
